#tournament {
    box-sizing: border-box;
    

    // Single scroll
    &.single-scroll {

        .tournament-list-pane {
            overflow: hidden;
        }
    }

    .tournament-list-pane {

        .tournament-items {

            &.sortable {

                .tournament-item {
                    padding: 16px 16px 16px 48px;

                    .handle {
                        display: block;
                    }
                }
            }
        }

        .tournament-items {
            overflow-x: hidden;

        }
    }
}

.tournament-item {
    position: relative;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-transform: none;
    cursor: pointer;

        .toolbarTrzy {
            padding: 8px 16px;
            position: relative;
        }

        .title {
            font-size: 15px;
            font-weight: 500;
            font-weight: bold;
        }

        .notes {
            margin-top: 4px;
            font-size: 14px;
        }
        .ident {
            margin-top: 4px;
            font: 14px arial, sans-serif;
        }

    &.tournament-item-placeholder {
        background: rgba(0, 0, 0, 0.12);
        * {
            opacity: 0;
        }
    }

    .handle {
        display: none;
        position: absolute;
        height: 100%;
        width: 48px;
        top: 0;
        left: 0;
        cursor: move;
        text-align: center;

        md-icon {
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .tags {
        font-size: 12px;

        .tag {
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;
            background-color: rgba(0, 0, 0, 0.08);

            .tag-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }
    }

    &.completed {
        background: #EEEEEE;

        .title,
        .notes {
            color: rgba(0, 0, 0, 0.54);
            text-decoration: line-through;
        }
    }

    &.selected {
        background: #FFF8E1;
    }

    .info {
        margin: 0 15px 0 8px;

        .title {
            font-size: 15px;
            font-weight: 500;
            font-weight: bold;
        }

        .notes {
            margin-top: 4px;
            font-size: 14px;
        }
        .ident {
            margin-top: 4px;
            font: italic 20px arial, sans-serif;
        }
    }

    .buttons {

        .is-starred {
            margin: 0 0 0 16px;
        }

        .is-important {
            margin: 0;
        }
    }
}

.tournament-item-ghost {
    opacity: 1 !important;
    background: #FFFFFF;
    box-shadow: $whiteframe-shadow-14dp;
    border: none;

    .md-ripple-container {
        display: none;
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    #tournament {

        .tournament-list-pane {

            .sortable {

                .tournament-items {

                    .tournament-item {
                        padding-left: 32px;
                    }
                }
            }

            .tournament-items {

                .tournament-item {

                    .handle {
                        width: 32px;
                    }
                }
            }
        }
    }
}


[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .label-1 {
        display:none;
    }
    .label-3 {
        display:none;
    }
    .label-5 {
        display:none;
    } 
    .label-6 {
        display:none;
    }
}