#home {
    height: 100%;
    width: 100%;
    -moz-transform: scale(0.5);
    overflow: auto;

    #board-selector {
        padding: 10px;
        display: flex;
        flex-flow: row wrap;
        :hover {
            background-color: rgb(0,145,215);
        }

        .single-board {
            min-width: 170px;
            margin: 10px;
            box-shadow: $whiteframe-shadow-10dp;
            cursor: pointer;
            border-radius: 5px;
            

            .board-name {
                font-size:20px;
            }

            .board-description {
                margin: 30px 10px 30px 10px;
                text-align: center;
                font-size:15px;
            }
        }

    }

    #register-button {
        display:flex;
        align-content: center;
        flex-flow: column wrap;
        padding: 20px;
        min-width: 170px;
        margin: 10px;
        box-shadow: $whiteframe-shadow-10dp;
        cursor: pointer;
        border-radius: 5px;

        .register-description {
            margin: 15px 5px 15px 5px;
            text-align: center;
            font-size:20px;
        }

        .ikonka {
            text-align: center;
        }
        &:hover {
            background-color: rgb(0,145,215);
        }
    }

    #logo-text {
        margin-top: 20px;
        padding: 20px;
        font-size: 60px;
        font-weight: bold;
        font-align: center;
    }
    #description-big {
        padding: 10px;
        font-size: 35px;
        font-weight: 30;
        font-align: center;
    }
    #description-small {
        padding: 10px;
        font-size: 25px;
        font-weight: 30;
        font-align: center;
    }
    #icon-description {
        padding: 20px;
        font-size: 22px;
    }
    .slider-photos {
        display: block;
        margin: 0px 20px 50px 20px;
        max-width: 100%;
        border-style: groove;
        box-shadow: $whiteframe-shadow-4dp;
        img {
            width: 100%;
            height: auto;
        }
    }
    .arrow {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}